.carousel {
  width: 100%;
  display: flex;
  margin: auto;
  gap: 1em;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding: 0.5em;
  /* Hide scrollbar */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
}

.carousel::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.projectCard {
  flex: 0 0 400px;
  scroll-snap-align: start;
}

/* Responsive */
@media (max-width: 480px) {
  .projectCard {
    flex: 0 0 100%;
  }
}

/* Navigation Arrows */
.scrollBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--gold);
  border: none;
  width: 50px;
  height: 50px;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--color-black-3);
  z-index: 10;
  transition: all 0.3s ease;
  font-family: Consolas;
}

.scrollBtn:hover {
  background: var(--gold-light);
}

.left {
  left: 5vw;
  top: 50%;
  transform: translateY(-50%);
}

.right {
  right: 5vw;
  top: 50%;
  transform: translateY(-50%);
}


@media (max-width: 750px) {
  .carousel {
    gap: 0.5em;
  }

  .left {
    display: none;
  }

  .right {
    display: none;
  }
}